*, *::before, *::after {
  box-sizing: border-box;
  font-family:'Source Code Pro', monospace;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}
/*changes the body*/
body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color:#28775f;
}
/*if the correct answer is chosen*/
body.correct {
  --hue: var(--hue-correct);
}
/*if wrong answer is chosen*/
body.wrong {
  --hue: var(--hue-wrong);
}
/*container atts.*/
.container {
  width: 800px;
  max-width: 80%;
  background-color:#772928 ;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 15px 15px#e0d20b ;
}
/*button layout*/
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}
/*button colors*/
.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}
/*if youre right*/
.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}
/*if youre wrong*/
.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}